:root {
  --purple1: #d9bac2;
  --purple2: #a67695;
  --purple3: #592556;
  --purple4: #8c4f88;
  --purple5: #84428c;
  --unfocus: #ffffff7c;
}
* {
  box-sizing: border-box;
  margin: 0;
}
#root {
  min-height: 100vh !important;
}
.logo {
  font-family: "Philosopher", sans-serif !important;
  letter-spacing: 2px;
  font-size: 1.5em;
}
.bg-dark-purple {
  background-color: var(--purple5) !important;
  border-color: var(--purple3) !important;
}
.bg-dark-purple:hover {
  background-color: var(--purple3) !important;
}
.bg-light-purple {
  background-color: var(--purple2) !important;
  border-color: var(--purple3) !important;
}
.bg-light-purple:hover {
  background-color: var(--purple3) !important;
}
.text-dark-purple {
  color: var(--purple3) !important;
}
.text-light-purple {
  color: var(--purple5) !important;
}
.myNavbar {
  background-color: var(--purple1) !important;
}
.unfocused {
  background-color: var(--unfocus) !important;
}
.max-img-width {
  max-width: 347px;
}
.screen-width {
  /* fix name */
  min-width: 90%;
  min-height: 55vh;
}

.reading-list {
  min-width: 620px;
  min-height: 55vh;
}
@media (max-width: 972px) {
  .unfocus {
    background-color: var(--unfocus) !important;
    padding: 4px 8px !important;
    border-radius: 5px !important;
  }
}
@media (min-width: 1200px) {
  .max-screen-width {
    min-width: 1200px;
    width: 1400px !important;
  }
}

@media (min-width: 1400px) {
  .max-img-width {
    max-width: 347px;
  }
}
@media (min-width: 576px) and (max-width: 1399px) {
  .max-img-width {
    max-width: 300px;
  }
}
